VK_BOT_TOKEN=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Для запуска локально (yarn start:dev):
DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/vk_bot?schema=public"

# Для запуска внутри Docker (prod):
# DATABASE_URL="postgresql://myuser:mypassword@db:5432/vk_bot?schema=public"