PORT=3000

POSTGRES_USER=dev
POSTGRES_PASSWORD=dev
POSTGRES_DB=dev

DATABASE_URL="postgresql://dev:dev@localhost:5432/mydb?schema=public"

ADMIN_ID=""
ADMIN_CHAT_ID="-0000000111"
VITE_GROUP_ID="" # Забирает докер. Для разработки требуется указать в файле .env внутри app

VK_APP_SECRET=""

VK_BOT_TOKEN="ваш_токен_от_группы_вк"